@model IEnumerable<Prueba002.Models.dbModels.PreguntaTest>

@{
    ViewData["Title"] = "Index";
}

<h1>Pregunta Test</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Crear uno nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTestNavigation)
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td id="nombmisterioso">
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
                <td id="nombmisterioso">
                @Html.DisplayFor(modelItem => item.IdTestNavigation.IdTest)
            </td>
                <td id="nombmisterioso2">
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.IdPregunta">Edit</a> <br />
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdPregunta">Details</a> <br />
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdPregunta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Css {
    <link href="~/css/generos.css" rel="stylesheet" />
}