@model Prueba002.Models.dbModels.Album

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAlbum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAlbum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoAlbum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoAlbum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdArtistaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdArtistaNavigation.IdArtista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGeneroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGeneroNavigation.IdGenero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAlbum">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
