@model IEnumerable<Prueba002.Models.dbModels.Album>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreAlbum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoAlbum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdArtistaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGeneroNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAlbum)
            </td>
            <td>
                <img class="img-fluid w-50" src="@Html.DisplayFor(modelItem => item.FotoAlbum)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdArtistaNavigation.IdArtista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGeneroNavigation.IdGenero)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAlbum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAlbum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAlbum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
