@model IEnumerable<Prueba002.Models.dbModels.Genero>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Crear uno nuevo</a>
</p>
<table class="table justify-content-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenGenero)
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="tablaCRUD">
                <td id="nombmisterioso">
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
                <td id="nombmisterioso">
                    <img class="img-fluid w-50" src="@Html.DisplayFor(modelItem => item.ImagenGenero)" />
            </td>
                <td id="nombmisterioso2" class="d-inline-flex">
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.IdGenero">Editar</a> <br />
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdGenero">Detalles</a> <br />
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdGenero">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-outline-dark" asp-controller="Home" asp-action="Admin">Volver a la lista</a>
@section Css {
    <link href="~/css/generos.css" rel="stylesheet" />
}