@model IEnumerable<Prueba002.Models.dbModels.Listum>

@{
    ViewData["Title"] = "Index";
}

<h1>Listas</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Crear uno nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreLista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="tablaCRUD">
                <td id="nombmisterioso">
                @Html.DisplayFor(modelItem => item.NombreLista)
            </td>
                <td id="nombmisterioso">
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Id)
            </td>
                <td id="nombmisterioso2" class="d-inline-flex">
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.IdLista">Edit</a>  <br />
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdLista">Details</a>  <br />
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdLista">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Css {
    <link href="~/css/generos.css" rel="stylesheet" />
}

