@model IEnumerable<Prueba002.Models.dbModels.Test>

@{
    ViewData["Title"] = "Index";
}

<h1>Test</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Crear uno nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TituloTest)
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="tablaCRUD">
                <td id="nombmisterioso">
                @Html.DisplayFor(modelItem => item.TituloTest)
            </td>
                <td id="nombmisterioso2" class="d-inline-flex">
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.IdTest">Editar</a> <br />
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdTest">Detalles</a> <br />
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdTest">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-outline-dark" asp-controller="Home" asp-action="Admin">Volver a la lista</a>