@model Prueba002.Models.dbModels.ListaAlbum

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro de que quieres eliminar el artista?</h3>
<div>
    <h4>ListaAlbum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAgregado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAgregado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlbumNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAlbumNavigation.IdAlbum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdListaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdListaNavigation.IdLista)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdLista" />
        <input type="hidden" asp-for="IdAlbum" />
        <input type="submit" value="Delete" class="btn btn-danger" /> <br />
        <a class="btn btn-info" asp-action="Index">Volver a la lista</a>
    </form>
</div>
