@model IEnumerable<Prueba002.Models.dbModels.ListaAlbum>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Albumes</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Crear uno nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAgregado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAlbumNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdListaNavigation)
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="tablaCRUD">
                <td id="nombmisterioso">
                @Html.DisplayFor(modelItem => item.FechaAgregado)
            </td>
                <td id="nombmisterioso">
                @Html.DisplayFor(modelItem => item.IdAlbumNavigation.IdAlbum)
            </td>
                <td id="nombmisterioso">
                @Html.DisplayFor(modelItem => item.IdListaNavigation.IdLista)
            </td>
                <td id="nombmisterioso2" class="d-inline-flex">
                @Html.ActionLink("Editar", "Editar", new { /* id=item.PrimaryKey */ }) <br />
                @Html.ActionLink("Detalles", "Detalles", new { /* id=item.PrimaryKey */ }) <br />
                @Html.ActionLink("Eliminar", "Eliminar", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
@section Css {
    <link href="~/css/generos.css" rel="stylesheet" />
}