@model IEnumerable<Prueba002.Models.dbModels.Artistum>

@{
    ViewData["Title"] = "Index";
}

<h1>Artistas</h1>

<p>
    <a class ="btn btn-outline-success" asp-action="Create">Crear uno nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="tablaCRUD">
            <td id="nombmisterioso">
                @Html.DisplayFor(modelItem => item.Nombre) 
            </td>
                <td id="nombmisterioso2" class="d-inline-flex">
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.IdArtista">Editar</a>
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdArtista">Detalles</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdArtista">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</>
</table>

